# 7.2. Методи розв'язування лінійних інтегральних рівнянь Фредгольма 
другого роду
--------------------
Нехай $-\infty<a<b<+\infty$, $K \in C([a,b]\times[a,b])$, $f\in C([a,b]$, $\lambda \in \mathbb{R}$.

Розглянемо лінійне одновимірне інтегральне рівняння Фредгольма другого роду

$(1)\quad\qquad\qquad\qquad u-\lambda \int^{b}_{a}K(x,y)\,u\,dy=f(x), \quad x\in [a,b].$

Під розв'язком рівняння (1) розуміють функцію $u=u(x)$, $x\in [a,b]$, з простору
$C([a,b]$, яка після підстановки у це рівняння перетворює його в тотожність.

## 7.2.2. Метод механічних квадратур
-----------
Використаємо в (1) формулу чисельного інтегрування

$(2)\quad\qquad\qquad\qquad \int^{b}_{a}g(y)\,dy \approx \sum^{n}_{j=0}A^{(n)}_{j}g(x_{j})$,

де $n \in \mathbb{N}$ -- довільне фіксоване число, $A^{(n)}_{0}, A^{(n)}_{1}, \ldots, A^{(n)}_{n}$ і $x_{0}, x_{1}, \ldots, x_{n}$ -- відомі коефіцієнти і вузли квадратурної формули. Отримаємо: 

$(3)\quad\qquad\qquad\qquad u(x)-\lambda\left[\sum^{n}_{j=0}A^{(n)}_{j}K(x,x_{j})u(x_{j})\right]\approx f(x), \quad x\in [a,b]$.

Наближений розв'язок рівняння (1) розглядаємо в точках $x_{0}, x_{1}, \ldots, x_{n}$, а саме шукаємо наближення $u_{i}$, $i=\overline{0,n}$, значень розв'язку $u(x_{i})$, $i=\overline{0,n}$. 

Тоді, покладаючи почергово $x=x_{i}$, $i=\overline{0,n}$, з (3) отримаємо систему лінійних алгебричних рівнянь

$(4)\quad\qquad\qquad\qquad u_{i}-\lambda\sum^{n}_{j=0}A^{(n)}_{j}K_{ij}u_{j}=f_{i}, \quad i=\overline{0,n},$.

Далі для обчислень використовуватимемо квадратурні формули,  вузли яких утворюють рівномірне розбиття проміжку інтегрування

$ x_{i}:=a+ih,\; i=\overline{0,n}, \; h:=\frac{b-a}{n}$.

Похибку чисельного розв'язку в точці $x_i, \;i=\overline{1,n}$, позначимо  $\varepsilon_i :=|u(x_i)-u_i|$.

## 7.2.3. Обчислювальні експерименти
------------
Будемо використовувати велику квадратурну формулу трапецій.

Знаходження чисельних розв'язків рівняння (1) продемонструємо на таких прикладах:

##### Приклад 1.
$K(x,y)=x+y,\quad$
$f(x)=x^2, \quad [a,b]=[0,\,2]$

##### Приклад 2.
$K(x,y)=xy,\quad$ $f(x)=x+1, \quad [a,b]=[0,\,1].$

Можна перевірити, що функція $u(x)=2.25x+1$ є точним розв'язком рівняння (1) у цьому випадку.

#### Пояснення до використання програмного коду
-----------------
*   Підготувати потрібні функції : 
    1.   виконати комірку з імпортом бібліотек numpy, pandas і matplotlib  
    2.   виконати комірку з функцією ``A``, яка задає коефіцієнти великої квадратурної формули трапецій
    3.   виконати комірку з функцією ``ie_MQuadrature``
    4.   запрограмувати і виконати комірку з функцією ``f``
    5.   запрограмувати і виконати комірку з функцією ``K``

*   Для отримання наближення розв'язку треба виконати комірку з викликом функції ``ie_MQuadrature`` з відповідними аргументами цієї функції.

*   Щоб переконатися, що наближення достатньо точне, можна виконати кілька послідовних викликів, збільшуючи значення параметра $n$.

In [1]:
# Імпорт бібліотек
%matplotlib widget
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
# Коефіцієнти великої квадратурної формули трапецій
def A(n):
    w=np.ones(n+1, dtype=float)
    w[0]=0.5
    w[n]=0.5
    return w

In [3]:
def ie_MQuadrature(K,lmbd,a,b,n,A,f):
    """  метод механічних квадратур 
         з рівномірним розбиттям проміжку інтегрування    
    """   
    x=np.linspace(a, b, n+1)
    c=f(x)
    h=(b-a)/n
    w=lmbd*h*A(n)
    
    B=np.zeros((n+1,n+1),dtype=float)
    for i in range(n+1):
        B[i,:]=-w*K(x[i],x)
        B[i,i]+=1

    u=np.linalg.solve(B, c)
    
    return u

#### 1) Чисельне розв'язування прикладу 1
--------------

In [4]:
def K1(xi,x):
    return x+xi

In [5]:
def f1(x):
    return x**2

In [6]:
lmbd=1
a=0
b=2
n=2

In [7]:
u_0=ie_MQuadrature(K1,lmbd,a,b,n,A,f1)

In [8]:
x_0=np.linspace(a, b, n+1) 
df=pd.DataFrame({'x':x_0,'u':u_0})
df

     x    u
0  0.0 -0.8
1  1.0 -1.2
2  2.0  0.4

#### 2) Чисельне розв'язування прикладу 2
--------------

In [9]:
def K2(xi,x):
    return x*xi

In [10]:
def f2(x):
    return x+1

In [11]:
lmbd=1
a=0
b=1
n=2

In [12]:
u_0=ie_MQuadrature(K2,lmbd,a,b,n,A,f2)

In [13]:
x_0=np.linspace(a, b, n+1) 
df=pd.DataFrame({'x':x_0,'u':u_0})
df

     x    u
0  0.0  1.0
1  0.5  2.2
2  1.0  3.4

Щоб продемонструвати збіжність чисельного розв'язку до аналітичного, розглянемо його на послідовності розбиттів, кожного разу вдвічі зменшуючи крок $h$.
В програмі результат кожного ``i``-того експерименту зберігаємо в масиві ``u_i``.

In [14]:
u_0=ie_MQuadrature(K2,lmbd,a,b,n,A,f2)

u_1=ie_MQuadrature(K2,lmbd,a,b,2*n,A,f2)

u_2=ie_MQuadrature(K2,lmbd,a,b,4*n,A,f2)

u_3=ie_MQuadrature(K2,lmbd,a,b,8*n,A,f2)

u_4=ie_MQuadrature(K2,lmbd,a,b,16*n,A,f2)

In [15]:
x_0=np.linspace(a, b, n+1) 
x=np.linspace(a, b, 64*n+1) 
u=2.25*x+1

In [19]:
df=pd.DataFrame({'x_0':x_0[::],'u_0':u_0[::],'u_1':u_1[::2],'u_2':u_2[::4],'u_3':u_3[::8],'u_4':u_4[::16],'u':u[::64]})
df

   x_0  u_0       u_1       u_2       u_3       u_4      u
0  0.0  1.0  1.000000  1.000000  1.000000  1.000000  1.000
1  0.5  2.2  2.142857  2.129412  2.126100  2.125275  2.125
2  1.0  3.4  3.285714  3.258824  3.252199  3.250549  3.250

Зауважимо, що використаний спосіб побудови табличок вимагає, щоб у кожній колонці була однакова кількість чисел.

Щоб отримати табличку з довшими колонками, опустимо колонку ``u_0``:

In [20]:
x_1=np.linspace(a, b, 2*n+1) 
df1=pd.DataFrame({'x_1':x_1[::],'u_1':u_1[::],'u_2':u_2[::2],'u_3':u_3[::4],'u_4':u_4[::8],'u':u[::32]})
df1

    x_1       u_1       u_2       u_3       u_4       u
0  0.00  1.000000  1.000000  1.000000  1.000000  1.0000
1  0.25  1.571429  1.564706  1.563050  1.562637  1.5625
2  0.50  2.142857  2.129412  2.126100  2.125275  2.1250
3  0.75  2.714286  2.694118  2.689150  2.687912  2.6875
4  1.00  3.285714  3.258824  3.252199  3.250549  3.2500

Оскільки відомо точний розв'язок рівняння, то знайдемо похибку чисельного розв'язку на кожному розбитті та порядок збіжності.

In [21]:
err=pd.DataFrame({'x_0':x_0})
err['e_0']=np.abs(df['u_0'] -df['u'])

err['e_1']=np.abs(df['u_1'] -df['u'])
err['r_1']=np.log2(err['e_0'] /err['e_1'])

err['e_2']=np.abs(df['u_2'] -df['u'])
err['r_2']=np.log2(err['e_1'] /err['e_2'])

err['e_3']=np.abs(df['u_3'] -df['u'])
err['r_3']=np.log2(err['e_2'] /err['e_3'])

err['e_4']=np.abs(df['u_4'] -df['u'])
err['r_4']=np.log2(err['e_3'] /err['e_4'])
err

,x_0,e_0,e_1,r_1,e_2,r_2,e_3,r_3,e_4,r_4
0,0.0,0.000,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN
1,0.5,0.075,0.017857,2.070389,0.004412,2.017074,0.001100,2.004237,0.000275,2.001057
2,1.0,0.150,0.035714,2.070389,0.008824,2.017074,0.002199,2.004237,0.000549,2.001057

In [22]:
err=pd.DataFrame({'x_1':x_1})

err['e_1']=np.abs(df['u_1'] -df['u'])
#err['r_1']=np.log2(err['e_0'] /err['e_1'])

err['e_2']=np.abs(df['u_2'] -df['u'])
err['r_2']=np.log2(err['e_1'] /err['e_2'])

err['e_3']=np.abs(df['u_3'] -df['u'])
err['r_3']=np.log2(err['e_2'] /err['e_3'])

err['e_4']=np.abs(df['u_4'] -df['u'])
err['r_4']=np.log2(err['e_3'] /err['e_4'])
err

    x_1       e_1       e_2       r_2       e_3       r_3       e_4       r_4
0  0.00  0.000000  0.000000       NaN  0.000000       NaN  0.000000       NaN
1  0.25  0.017857  0.004412  2.017074  0.001100  2.004237  0.000275  2.001057
2  0.50  0.035714  0.008824  2.017074  0.002199  2.004237  0.000549  2.001057
3  0.75       NaN       NaN       NaN       NaN       NaN       NaN       NaN
4  1.00       NaN       NaN       NaN       NaN       NaN       NaN       NaN

In [23]:
x_1=np.linspace(a, b, 2*n+1) 

x_2=np.linspace(a, b, 4*n+1) 

x_3=np.linspace(a, b, 8*n+1) 

x_4=np.linspace(a, b, 16*n+1)

In [24]:
plt.close('all')

In [25]:
fig = plt.figure(figsize=(8, 5))
ax = fig.gca()
ax.axhline(color="grey", ls="--", zorder=-1)
ax.axvline(color="grey", ls="--", zorder=-1)

plt.plot(x, u)

plt.plot(x_0, u_0)

plt.plot(x_1, u_1)

plt.plot(x_2, u_2)

plt.plot(x_3, u_3)

plt.plot(x_4, u_4)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [26]:
plt.close('all')