# 6.2. Чисельні методи розв'язування задачі Коші для систем звичайних диференціальних рівнянь і рівнянь вищих порядків
--------------------

## 6.2.1. Постановка задачі Коші для систем ЗДР
-----------
Розглянемо задачу Коші для нормальної системи (НС) звичайних диференціальних рівнянь
$(1)\quad\qquad\qquad \begin{cases}
u'=f(x,u,v),\\
v'=g(x,u,v),
\end{cases}
$

де $f(x,u,v),\, g(x,u,v),\, (x,u,v)\in G,$ -- задані функції, $G$ -- область в $\mathbb{R}^3$,

з початковими умовами

$(2)\quad\qquad\qquad\qquad\begin{cases}
u(x_0)=u_0,\\
v(x_0)=v_0.
\end{cases}
$

Під розв'язком НС розуміємо пару неперервно диференційовних функцій
$u=u(x),\ v=v(x),\ x\in \langle a,b \rangle$, які при підставлянні їх в рівняння
системи перетворюють ці рівняння  в тотожності.

Далі вважаємо, що $x \in [a,b]$ і $x_0=a$.

Чисельний (наближений) розв'язок задачі розглядаємо в точках $x_{0}, x_{1}, \ldots, x_{n}$, де  
$ x_{i}:=a+ih,\; i=\overline{0,n}, \; n\in \mathbb{N}, \; h:=\frac{b-a}{n}$, а саме шукаємо наближення $u_i, v_i$, $i=\overline{1,n}$, значень розв'язку $u(x_i), v(x_i)$, $i=\overline{1,n}$.

## 6.2.2.  Метод Ейлера і Рунге-Кутта
---------------------

Чисельний розв'язок задачі Коші знаходять **методом Ейлера** за рекурентними формулами 

$(3)\quad\qquad\qquad\qquad 
\begin{cases}
u_{i+1}=u_{i}+h\,f(x_i,u_i,v_i), \\
v_{i+1}=v_{i}+h\,g(x_i,u_i,v_i), \quad i=\overline{0,n-1}.
\end{cases}
$

Значення $u_0$ і $v_0$ беруть з початкових умов.

Чисельний розв'язок задачі Коші знаходять **методом Рунге-Кутта** за рекурентними формулами 

$(4)\quad\qquad\qquad\qquad 
\begin{cases}
u_{i+1}=u_{i}+ \frac{1}{6}k_{i,1}(h) +\frac{1}{3}k_{i,2}(h)+\frac{1}{3}k_{i,3}(h)+ \frac{1}{6}k_{i,4}(h),\\
v_{i+1}=v_{i}+
\frac{1}{6}m_{i,1}(h) +\frac{1}{3}m_{i,2}(h)+\frac{1}{3}m_{i,3}(h)+ \frac{1}{6}m_{i,4}(h), \quad i=\overline{0,n-1},
\end{cases}
$

де

$
\quad\qquad k_{i,1}(h):=f(x_i,\;u_i,\;v_i)\cdot h, \quad m_{i,1}(h):=g(x_i,\;u_i,\;v_i)\cdot h,
$

$
\quad\qquad k_{i,2}(h):=f\bigg(x_i+\frac{1}{2}h,\;u_i + \frac{1}{2}k_{i,1}(h),\; v_i + \frac{1}{2}m_{i,1}(h)\bigg)\cdot h,
$

$
\quad\qquad m_{i,2}(h):=g\bigg(x_i+\frac{1}{2}h,\;u_i + \frac{1}{2}k_{i,1}(h),\; v_i + \frac{1}{2}m_{i,1}(h)\bigg)\cdot h,
$

$
\quad\qquad k_{i,3}(h):=f(x_i + \frac{1}{2}h,\;u_i+\frac{1}{2}k_{i,2}(h), \; v_i +\frac{1}{2}m_{i,2}(h))\cdot h,
$

$
\quad\qquad m_{i,3}(h):=g(x_i + \frac{1}{2}h,\;u_i+\frac{1}{2}k_{i,2}(h), \; v_i +\frac{1}{2}m_{i,2}(h))\cdot h,
$

$
\quad\qquad k_{i,4}(h):=f(x_i+h,\;u_i+k_{i,3}(h),\; v_i + m_{i,3}(h))\cdot h,
$

$
\quad\qquad m_{i,4}(h):=g(x_i+h,\; u_i+k_{i,3}(h),\; v_i + m_{i,3}(h))\cdot h.
$

Значення $u_0$ і $v_0$ беруть з початкових умов.

#### Пояснення до використання програмного коду
-----------------
*   Підготувати середовище і потрібні функції : 
    1. виконати комірку для підготовки середовища 
    2. виконати комірку з функцією ``Euler_NS`` чи ``RK4_NS``

*   Обчислити чисельний розв'язок конкретної задачі Коші
    1. виконати комірку, де **визначені** функції ``f`` і ``g``
    2. виконати комірку з викликом функції ``Euler_NS`` чи ``RK4__NS``, перед виконанням задати відповідні аргументи цієї функції.

*   Щоб переконатися, що чисельний розв'язок достатньо точний, можна виконати кілька послідовних викликів функції ``Euler_NS`` чи ``RK4__NS``, збільшуючи кількість вузлів сітки.

#### Програмна реалізація методів
------------

>#### Підготовка середовища

In [1]:
%matplotlib widget
import matplotlib.pyplot as plt

import numpy as np
import pandas as pd

>#### ``Euler_NS`` -- функція, яка реалізує явний метод Ейлера для знаходження чисельного розв'язку задачі Коші для системи двох ЗДР 1-го порядку

In [2]:
def Euler_NS(f,g,u0,v0,a,b,n, alpha, beta, gamma, delta):
    """ явний метод Ейлера для задачі Коші
        для системи двох ЗДР 1-го порядку
    """
    h=(b-a)/n
    x=np.linspace(a, b, n+1) 

    u=np.empty(n+1)
    v=np.empty(n+1)
    u[0]=u0
    v[0]=v0
    
    for i in range(n):
        u[i+1]=u[i] + h*f(u[i], v[i], alpha, beta)
        v[i+1]=v[i] + h*g(u[i], v[i], gamma, delta) 
        
    return u, v

>#### ``RK4_NS`` -- функція, яка реалізує метод Рунге-Кутта для знаходження чисельного розв'язку задачі Коші для системи двох ЗДР 1-го порядку

In [3]:
def RK4_NS(f,g,u0,v0,a,b,n, alpha, beta, gamma, delta):
    """ метод Рунге-Кутта четвертого порядку 
        для задачі Коші для системи двох ЗДР 1-го порядку       
    """
    h=(b-a)/n
    x=np.linspace(a, b, n+1) 

    u=np.empty(n+1)
    v=np.empty(n+1)
    u[0]=u0
    v[0]=v0
    
    for i in range(n):
        k1 = f(u[i], v[i], alpha, beta)
        m1 = g(u[i], v[i], gamma, delta)
        k2 = f(u[i] + h/2*k1, v[i] + h/2*m1, alpha, beta)
        m2 = g(u[i] + h/2*k1, v[i] + h/2*m1, gamma, delta)
        k3 = f(u[i] + h/2*k2, v[i] + h/2*m2, alpha, beta) 
        m3 = g(u[i] + h/2*k2, v[i] + h/2*m2, gamma, delta)
        k4 = f(u[i] + h*k3, v[i] + h*m3, alpha, beta)      
        m4 = g(u[i] + h*k3, v[i] + h*m3, gamma, delta)
        
        u[i+1]=u[i] + h/6*(k1 + 2*k2 + 2*k3 + k4)
        v[i+1]=v[i] + h/6*(m1 + 2*m2 + 2*m3 + m4) 
        
    return u, v

>#### ``f, g`` -- функції, які задають обчислення  правих частин рівнянь конкретної системи

#### Обчислювальні експерименти
------------

Продемонструємо застосування методів Ейлера та Рунге-Кутта для знаходження чисельного розв'язку задачі Коші для системи двох ЗДР 1-го порядку.

##### Приклад 1. 
За допомогою методів Ейлера та Рунге-Кутта знайти чисельні розв'язки задачі Коші (1),(2), коли

$f(x,u,v)=\alpha u + \beta uv,\quad g(x,u,v)=\gamma v + \delta uv, \quad x \in [a,b], $ 

$\quad u(0)=u0, \quad v(0)=v0, \quad \alpha,\beta, \gamma, \delta, u0, v0 $-- задані  числа.

Система рівнянь (1) відома під назвою рівнянь Лотки-Волmтерра і описує динаміку популяції двох видів -- жертви і хижака, детальніше див., наприклад, розділ 2.1 [Ортега].

Визначимо функції правих частин рівняннь (1):

In [4]:
def f(u, v, alpha, beta ):
    return alpha*u + beta*u*v

In [5]:
def g(u, v, gamma, delta ):
    return gamma*v + delta*u*v

Задамо значення параметрів задачі і початкові дані:

In [6]:
a=0
b=12
u0=80
v0=30
alpha = 0.25
beta = - 0.01
gamma = -1
delta = 0.01

>##### 1) Застосування методу Ейлера
------------

Знайдемо методом Ейлера чисельні розв'язки задачі на послідовності сіток, подвоюючи на кожному кроці кількість вузлів і зберігаючи відповідні масиви для подальшого аналізу:

In [7]:
n_start = 64

n = n_start
x0=np.linspace(a, b, n+1)
u_0, v_0 = Euler_NS(f, g, u0,v0, a,b,n, alpha, beta, gamma, delta)

n *= 2
x1=np.linspace(a, b, n+1)
u_1, v_1 = Euler_NS(f, g, u0,v0, a,b,n, alpha, beta, gamma, delta)

n *= 2
x2=np.linspace(a, b, n+1)
u_2, v_2 = Euler_NS(f, g, u0,v0, a,b,n, alpha, beta, gamma, delta)

n *= 2
x3=np.linspace(a, b, n+1)
u_3, v_3 = Euler_NS(f, g, u0,v0, a,b,n, alpha, beta, gamma, delta)

n *= 2
x4=np.linspace(a, b, n+1)
u_4, v_4 = Euler_NS(f, g, u0,v0, a,b,n, alpha, beta, gamma, delta)

n *= 2
x5=np.linspace(a, b, n+1)
u_5, v_5 = Euler_NS(f, g, u0,v0, a,b,n, alpha, beta, gamma, delta)

Побудуємо графіки отриманих чисельних розв'язків задачі:

In [8]:
fig = plt.figure(figsize=(8, 5))
plt.scatter(u0,v0, marker='o', label='start')
plt.plot( u_0,v_0, label='u_0')
plt.plot( u_1,v_1, label='u_1')
plt.plot( u_2,v_2, label='u_2')
plt.plot( u_3,v_3, label='u_3')
plt.plot( u_4,v_4, label='u_4')
plt.plot( u_5,v_5, label='u_4')
ax = fig.gca()
ax.legend();

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Як бачимо, усі графіки починаються в точці $start(u0, v0)$. При збільшенні значення параметра ``b`` вони матимуть вигляд еліпсоподібних спіралей:

In [9]:
b=16

n_start = 64

n = n_start
x0=np.linspace(a, b, n+1)
u_0, v_0 = Euler_NS(f, g, u0,v0, a,b,n, alpha, beta, gamma, delta)

n *= 2
x1=np.linspace(a, b, n+1)
u_1, v_1 = Euler_NS(f, g, u0,v0, a,b,n, alpha, beta, gamma, delta)

n *= 2
x2=np.linspace(a, b, n+1)
u_2, v_2 = Euler_NS(f, g, u0,v0, a,b,n, alpha, beta, gamma, delta)

n *= 2
x3=np.linspace(a, b, n+1)
u_3, v_3 = Euler_NS(f, g, u0,v0, a,b,n, alpha, beta, gamma, delta)

n *= 2
x4=np.linspace(a, b, n+1)
u_4, v_4 = Euler_NS(f, g, u0,v0, a,b,n, alpha, beta, gamma, delta)

n *= 2
x5=np.linspace(a, b, n+1)
u_5, v_5 = Euler_NS(f, g, u0,v0, a,b,n, alpha, beta, gamma, delta)


fig = plt.figure(figsize=(8, 5))
plt.scatter(u0,v0, marker='o', label='start')
plt.plot( u_0,v_0, label='uv_0')
plt.plot( u_1,v_1, label='uv_1')
plt.plot( u_2,v_2, label='uv_2')
plt.plot( u_3,v_3, label='uv_3')
plt.plot( u_4,v_4, label='uv_4')
plt.plot( u_5,v_5, label='uv_5')
ax = fig.gca()
ax.legend();

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Зауважимо, що при збільшенні вузлів сітки графіки чисельних розв'язків наближаються до замкнутої еліпсоподібної фігури, яка характеризує популяції взаємопов'язаних видів при заданих значеннях параметрів моделі.

Побудуємо графіки чисельних розв'язків як функцій змінної ``x``:

In [10]:
fig = plt.figure(figsize=(8, 5))

plt.plot(x0, u_0, label='u_0')
plt.plot(x1, u_1, label='u_1')
plt.plot(x2, u_2, label='u_2')
plt.plot(x3, u_3, label='u_3')
plt.plot(x4, u_4, label='u_4')
plt.plot(x5, u_5, label='u_5')
ax = fig.gca()
ax.legend();

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [11]:
fig = plt.figure(figsize=(8, 5))

plt.plot(x0, v_0, label='v_0')
plt.plot(x1, v_1, label='v_1')
plt.plot(x2, v_2, label='v_2')
plt.plot(x3, v_3, label='v_3')
plt.plot(x4, v_4, label='v_4')
plt.plot(x5, v_5, label='v_5')
ax = fig.gca()
ax.legend();

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Співставляючи оримані графіки бачимо, що зростання популяції жертв (функція ``u``) приводить з часом до зростання кількості хижаків (функція ``v``), які за деякий час знову зменшать популяцію жертв, що в свою чергу негативно вплине на кількість хижаків.

Для подальшого аналізу занесемо в таблиці значення усіх розв'язків на спільній множині вузлів ``x_0``. Далі при виведенні таблиць будемо виводити лише 5 перших рядків (щоб отримати усі рядки таблиці треба забрати виклик методу ``head(5)``):

In [12]:
dfue=pd.DataFrame({'x_0':x0[1::],'u_0':u_0[1::],'u_1':u_1[2::2],'u_2':u_2[4::4],'u_3':u_3[8::8],'u_4':u_4[16::16],'u_5':u_5[32::32]})
dfue.head(5)

    x_0        u_0        u_1        u_2        u_3        u_4        u_5
0  0.25  79.000000  79.077656  79.116139  79.135249  79.144765  79.149513
1  0.50  78.308750  78.460503  78.535028  78.571880  78.590195  78.599324
2  0.75  77.916472  78.136485  78.243684  78.296499  78.322702  78.335751
3  1.00  77.811404  78.092334  78.228254  78.294999  78.328060  78.344511
4  1.25  77.980763  78.314338  78.474686  78.553184  78.592008  78.611313

In [13]:
dfve=pd.DataFrame({'x_0':x0[1::],'v_0':v_0[1::],'v_1':v_1[2::2],'v_2':v_2[4::4],'v_3':v_3[8::8],'v_4':v_4[16::16],'v_5':v_5[32::32]})
dfve.head(5)

    x_0        v_0        v_1        v_2        v_3        v_4        v_5
0  0.25  28.500000  28.500469  28.502218  28.503450  28.504152  28.504524
1  0.50  27.003750  27.017216  27.026498  27.031729  27.034485  27.035898
2  0.75  25.539387  25.575457  25.596594  25.607866  25.613670  25.616613
3  1.00  24.129388  24.194888  24.230869  24.249579  24.259104  24.263907
4  1.25  22.790895  22.890210  22.942890  22.969886  22.983536  22.990398

>##### 2) Застосування методу Рунге-Кутта
------------

Розглянемо чисельне розв'язування тієї самої задачі Коші, але тепер застосуємо метод Рунге-Кутта. Після задання тих самих  значень параметрів задачі і початкових даних знайдемо чисельні розв'язки задачі на послідовності сіток, подвоюючи на кожному кроці кількість вузлів:

In [14]:
a=0
b=16
u0=80
v0=30
alpha = 0.25
beta = - 0.01
gamma = -1
delta = 0.01

n_start = 16

n = n_start
xr0=np.linspace(a, b, n+1)
ur_0, vr_0 = RK4_NS(f, g, u0,v0, a,b,n, alpha, beta, gamma, delta)

n *= 2
x1=np.linspace(a, b, n+1)
ur_1, vr_1 = RK4_NS(f, g, u0,v0, a,b,n, alpha, beta, gamma, delta)

n *= 2
x2=np.linspace(a, b, n+1)
ur_2, vr_2 = RK4_NS(f, g, u0,v0, a,b,n, alpha, beta, gamma, delta)

n *= 2
x3=np.linspace(a, b, n+1)
ur_3, vr_3 = RK4_NS(f, g, u0,v0, a,b,n, alpha, beta, gamma, delta)

n *= 2
x4=np.linspace(a, b, n+1)
ur_4, vr_4 = RK4_NS(f, g, u0,v0, a,b,n, alpha, beta, gamma, delta)

n *= 2
x5=np.linspace(a, b, n+1)
ur_5, vr_5 = RK4_NS(f, g, u0,v0, a,b,n, alpha, beta, gamma, delta)

Побудуємо графіки отриманих розв'язків:

In [15]:
fig = plt.figure(figsize=(8, 5))

plt.scatter(u0,v0, marker='o', label='start')
plt.plot( ur_0,vr_0, label='uvr_0')
plt.plot( ur_1,vr_1, label='uvr_1')
plt.plot( ur_2,vr_2, label='uvr_2')
plt.plot( ur_3,vr_3, label='uvr_3')
plt.plot( ur_4,vr_4, label='uvr_4')
plt.plot( ur_5,vr_5, label='uvr_5')
ax = fig.gca()
ax.legend();

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Зауважимо, що як і слід було очікувати, метод Рунге-Кутта демонструє швидшу збіжність, ніж метод Ейлера. Тому графіки отриманих розв'язків починають візуально співпадати уже на сітках з невеликою кількістю вузлів. Для того, щоб їх розрізнити, можна використати режим масштабування.

Для подальшого аналізу занесемо в таблиці значення усіх розв'язків на спільній множині вузлів ``x_0``:

In [16]:
dfur=pd.DataFrame({'x_0':xr0[1::],'ur_0':ur_0[1::],'ur_1':ur_1[2::2],'ur_2':ur_2[4::4],'ur_3':ur_3[8::8],'ur_4':ur_4[16::16],'ur_5':ur_5[32::32]})
dfur.head(5)

   x_0        ur_0        ur_1        ur_2        ur_3        ur_4        ur_5
0  1.0   78.357869   78.360676   78.360894   78.360909   78.360910   78.360910
1  2.0   80.840126   80.847055   80.847536   80.847567   80.847569   80.847569
2  3.0   86.611094   86.621690   86.622387   86.622431   86.622434   86.622434
3  4.0   94.902810   94.916288   94.917139   94.917192   94.917195   94.917196
4  5.0  104.794859  104.810173  104.811099  104.811156  104.811159  104.811159

In [17]:
dfvr=pd.DataFrame({'x_0':xr0[1::],'vr_0':vr_0[1::],'vr_1':vr_1[2::2],'vr_2':vr_2[4::4],'vr_3':vr_3[8::8],'vr_4':vr_4[16::16],'vr_5':vr_5[32::32]})
dfvr.head(5)

   x_0       vr_0       vr_1       vr_2       vr_3       vr_4       vr_5
0  1.0  24.269596  24.268784  24.268739  24.268737  24.268737  24.268737
1  2.0  19.731535  19.730446  19.730403  19.730401  19.730401  19.730401
2  3.0  16.728963  16.728113  16.728100  16.728100  16.728100  16.728100
3  4.0  15.226495  15.226261  15.226296  15.226300  15.226300  15.226300
4  5.0  15.191791  15.192664  15.192778  15.192787  15.192787  15.192787

Як бачимо, в останній та передостанній колонках обох таблиць відповідні значення можуть відрізнятися лише останньою цифрою. Оскільки точний розв'язок задачі Коші невідомий, то далі обчислюватимемо значення абсолютних похибок чисельних розв'язків та швидкості збіжності до ``ur_5`` і ``vr_5`` відповідно на спільній множині вузлів ``x_0``:

In [18]:
dfur1=pd.DataFrame()
dfur1['eur_0']=np.abs(dfur['ur_5']-dfur['ur_0'])
dfur1['eur_1']=np.abs(dfur['ur_5']-dfur['ur_1'])
dfur1['eur_2']=np.abs(dfur['ur_5']-dfur['ur_2'])
dfur1['eur_3']=np.abs(dfur['ur_5']-dfur['ur_3'])

dfur1.head(5)

      eur_0     eur_1     eur_2     eur_3
0  0.003041  0.000234  0.000016  0.000001
1  0.007444  0.000514  0.000033  0.000002
2  0.011340  0.000744  0.000047  0.000003
3  0.014386  0.000907  0.000056  0.000004
4  0.016301  0.000986  0.000060  0.000004

In [19]:
dfvr1=pd.DataFrame()
dfvr1['evr_0']=np.abs(dfvr['vr_5']-dfvr['vr_0'])
dfvr1['evr_1']=np.abs(dfvr['vr_5']-dfvr['vr_1'])
dfvr1['evr_2']=np.abs(dfvr['vr_5']-dfvr['vr_2'])
dfvr1['evr_3']=np.abs(dfvr['vr_5']-dfvr['vr_3'])

dfvr1.head(5)

      evr_0     evr_1         evr_2         evr_3
0  0.000860  0.000047  2.589884e-06  1.479729e-07
1  0.001134  0.000045  1.889312e-06  8.750560e-08
2  0.000863  0.000013  4.721431e-07  7.016251e-08
3  0.000195  0.000039  3.984675e-06  2.955270e-07
4  0.000996  0.000123  9.508043e-06  6.462838e-07

Побудуємо графіки абсолютних похибок у логарифмічній шкалі:

In [20]:
fig = plt.figure(figsize=(8, 5))

dfur1.eur_0.plot(logy=True)
dfur1.eur_1.plot(logy=True)
dfur1.eur_2.plot(logy=True)
dfur1.eur_3.plot(logy=True)

dfvr1.evr_0.plot(logy=True)
dfvr1.evr_1.plot(logy=True)
dfvr1.evr_2.plot(logy=True)
dfvr1.evr_3.plot(logy=True)

ax = fig.gca()
ax.legend();

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Обчислимо для кожного чисельного розв'язку його абсолютну похибку за нормою $\| \cdot \|_\infty$

In [21]:
neur_0 = max(np.abs(dfur1['eur_0']))
neur_1 = max(np.abs(dfur1['eur_1']))
neur_2 = max(np.abs(dfur1['eur_2']))
neur_3 = max(np.abs(dfur1['eur_3']))

nevr_0 = max(np.abs(dfvr1['evr_0']))
nevr_1 = max(np.abs(dfvr1['evr_1']))
nevr_2 = max(np.abs(dfvr1['evr_2']))
nevr_3 = max(np.abs(dfvr1['evr_3']))

print(f" neur_0={neur_0:1.2e},  nevr_0={nevr_0:1.2e}")
print(f" neur_1={neur_1:1.2e},  nevr_1={nevr_1:1.2e}")
print(f" neur_2={neur_2:1.2e},  nevr_2={nevr_2:1.2e}")
print(f" neur_3={neur_3:1.2e},  nevr_3={nevr_3:1.2e}")

 neur_0=6.43e-02,  nevr_0=3.27e-02
 neur_1=4.17e-03,  nevr_1=2.20e-03
 neur_2=2.62e-04,  nevr_2=1.42e-04
 neur_3=1.62e-05,  nevr_3=8.94e-06

Оцінимо швидкість збіжності чисельних розв'язків до значень ``ur_5`` і ``vr_5``, а саме у скільки разів зменшуватметься абсолютна похибка при подвоєнні кількості вузлів сітки:

In [22]:
dfur2=pd.DataFrame()
dfur2['rur_0'] = dfur1['eur_0'] / dfur1['eur_1']
dfur2['rur_1'] = dfur1['eur_1'] / dfur1['eur_2']
dfur2['rur_2'] = dfur1['eur_2'] / dfur1['eur_3']

dfur2

        rur_0      rur_1      rur_2
0   13.017090  14.682301  15.450107
1   14.470429  15.370804  15.780677
2   15.240025  15.754353  15.969734
3   15.856276  16.071234  16.129092
4   16.524370  16.433398  16.317183
5   17.516002  17.024969  16.641528
6   19.799359  18.640998  17.615547
7   37.760466  70.247195  20.826680
8    6.241677  12.232101  14.383725
9   12.586289  14.670839  15.472717
10  15.416978  15.957177  16.093198
11  17.917106  17.277577  16.781742
12  22.982935  20.824289  18.969776
13  42.054732   5.721357  12.196141
14   9.335953  13.402174  14.902320
15  12.823169  14.745786  15.504031

In [23]:
dfvr2=pd.DataFrame()
dfvr2['rvr_0'] = dfvr1['evr_0'] / dfvr1['evr_1']
dfvr2['rvr_1'] = dfvr1['evr_1'] / dfvr1['evr_2']
dfvr2['rvr_2'] = dfvr1['evr_2'] / dfvr1['evr_3']

dfvr2

        rvr_0      rvr_1      rvr_2
0   18.212808  18.222573  17.502414
1   25.164813  23.848759  21.590755
2   64.385699  28.391763   6.729280
3    5.019630   9.732501  13.483285
4    8.088470  12.953927  14.711869
5   11.634806  14.178397  15.227392
6   13.191806  14.783989  15.494060
7   14.270031  15.284982  15.736454
8   15.763894  16.081268  16.148067
9   19.056782  18.087787  17.265084
10  19.698983   7.465637  12.671119
11  11.874208  14.346201  15.317090
12  14.511231  15.522094  15.879978
13  16.193285  16.354420  16.298228
14  17.955295  17.317782  16.807865
15  20.802629  19.142593  17.866246

Як бачимо, отримані значення швидкості збіжності близькі до числа 16, характерного для методу Рунге-Кутта 4-го порядку.

>##### 3)Порівняння результатів, отриманих методами Ейлера і Рунге-Кутта

Вважаючи чисельні розв'язки, отримані методом Рунге-Кутта, достатньо точними, їх можна використати для оцінки результатів, які дає метод Ейлера.  

Для зручності обчислень, додамо до таблиць результатів методу Ейлера відповідні значення розв'язків ``ur_5`` і ``vr_5``:

In [24]:
dfue['ur_5']=ur_5[8::8]
dfue.head(5)

,x_0,u_0,u_1,u_2,u_3,u_4,u_5,ur_5
0,0.25,79.000000,79.077656,79.116139,79.135249,79.144765,79.149513,79.154254
1,0.50,78.308750,78.460503,78.535028,78.571880,78.590195,78.599324,78.608434
2,0.75,77.916472,78.136485,78.243684,78.296499,78.322702,78.335751,78.348765
3,1.00,77.811404,78.092334,78.228254,78.294999,78.328060,78.344511,78.360910
4,1.25,77.980763,78.314338,78.474686,78.553184,78.592008,78.611313,78.630546

In [25]:
dfve['vr_5']=vr_5[8::8]
dfve.head(5)

,x_0,v_0,v_1,v_2,v_3,v_4,v_5,vr_5
0,0.25,28.500000,28.500469,28.502218,28.503450,28.504152,28.504524,28.504910
1,0.50,27.003750,27.017216,27.026498,27.031729,27.034485,27.035898,27.037333
2,0.75,25.539387,25.575457,25.596594,25.607866,25.613670,25.616613,25.619582
3,1.00,24.129388,24.194888,24.230869,24.249579,24.259104,24.263907,24.268737
4,1.25,22.790895,22.890210,22.942890,22.969886,22.983536,22.990398,22.997284

Далі виконаємо обчислення відхилень колонок модифікованих таблиць від ``ur_5`` і ``vr_5`` відповідно:

In [26]:
dfue1=pd.DataFrame()
dfue1['eue_0']=np.abs(dfue['ur_5']-dfue['u_0'])
dfue1['eue_1']=np.abs(dfue['ur_5']-dfue['u_1'])
dfue1['eue_2']=np.abs(dfue['ur_5']-dfue['u_2'])
dfue1['eue_3']=np.abs(dfue['ur_5']-dfue['u_3'])
dfue1['eue_4']=np.abs(dfue['ur_5']-dfue['u_4'])
dfue1['eue_5']=np.abs(dfue['ur_5']-dfue['u_5'])

dfue1.head(5)

      eue_0     eue_1     eue_2     eue_3     eue_4     eue_5
0  0.154254  0.076598  0.038115  0.019006  0.009489  0.004741
1  0.299684  0.147931  0.073406  0.036554  0.018239  0.009110
2  0.432292  0.212279  0.105081  0.052266  0.026063  0.013014
3  0.549506  0.268576  0.132656  0.065911  0.032850  0.016398
4  0.649783  0.316208  0.155860  0.077362  0.038538  0.019233

In [27]:
dfve1=pd.DataFrame()
dfve1['eve_0']=np.abs(dfve['vr_5']-dfve['v_0'])
dfve1['eve_1']=np.abs(dfve['vr_5']-dfve['v_1'])
dfve1['eve_2']=np.abs(dfve['vr_5']-dfve['v_2'])
dfve1['eve_3']=np.abs(dfve['vr_5']-dfve['v_3'])
dfve1['eve_4']=np.abs(dfve['vr_5']-dfve['v_4'])
dfve1['eve_5']=np.abs(dfve['vr_5']-dfve['v_5'])

dfve1.head(5)

      eve_0     eve_1     eve_2     eve_3     eve_4     eve_5
0  0.004910  0.004441  0.002692  0.001460  0.000758  0.000386
1  0.033583  0.020117  0.010835  0.005605  0.002848  0.001436
2  0.080195  0.044125  0.022989  0.011716  0.005912  0.002969
3  0.139349  0.073848  0.037868  0.019157  0.009633  0.004830
4  0.206389  0.107073  0.054394  0.027398  0.013747  0.006886

Можемо оцінити отримані відхилення за нормою $\| \cdot \|_\infty$:

In [28]:
neue_0 = max(np.abs(dfue1['eue_0']))
neue_1 = max(np.abs(dfue1['eue_1']))
neue_2 = max(np.abs(dfue1['eue_2']))
neue_3 = max(np.abs(dfue1['eue_3']))
neue_4 = max(np.abs(dfue1['eue_4']))
neue_5 = max(np.abs(dfue1['eue_5']))

neve_0 = max(np.abs(dfve1['eve_0']))
neve_1 = max(np.abs(dfve1['eve_1']))
neve_2 = max(np.abs(dfve1['eve_2']))
neve_3 = max(np.abs(dfve1['eve_3']))
neve_4 = max(np.abs(dfve1['eve_4']))
neve_5 = max(np.abs(dfve1['eve_5']))

print(f" neue_0={neue_0:1.2e},  neve_0={neve_0:1.2e}")
print(f" neue_1={neue_1:1.2e},  neve_1={neve_1:1.2e}")
print(f" neue_2={neue_2:1.2e},  neve_2={neve_2:1.2e}")
print(f" neue_3={neue_3:1.2e},  neve_3={neve_3:1.2e}")
print(f" neue_4={neue_4:1.2e},  neve_4={neve_4:1.2e}")
print(f" neue_5={neue_5:1.2e},  neve_5={neve_5:1.2e}")

 neue_0=1.01e+01,  neve_0=6.39e+00
 neue_1=4.58e+00,  neve_1=2.83e+00
 neue_2=2.18e+00,  neve_2=1.33e+00
 neue_3=1.07e+00,  neve_3=6.48e-01
 neue_4=5.27e-01,  neve_4=3.20e-01
 neue_5=2.62e-01,  neve_5=1.59e-01

Як бачимо, відхилення для обох невідомих функцій приблизно однакові.

Оцінимо швидкість збіжності методу Ейлера:

In [29]:
dfue2=pd.DataFrame()
dfue2['rue_0'] = dfue1['eue_0'] / dfue1['eue_1']
dfue2['rue_1'] = dfue1['eue_1'] / dfue1['eue_2']
dfue2['rue_2'] = dfue1['eue_2'] / dfue1['eue_3']
dfue2['rue_3'] = dfue1['eue_3'] / dfue1['eue_4']
dfue2['rue_4'] = dfue1['eue_4'] / dfue1['eue_5']

dfue2.head(5)

      rue_0     rue_1     rue_2     rue_3     rue_4
0  2.013814  2.009658  2.005468  2.002887  2.001481
1  2.025842  2.015235  2.008148  2.004200  2.002131
2  2.036432  2.020150  2.010512  2.005359  2.002705
3  2.045998  2.024608  2.012662  2.006415  2.003228
4  2.054920  2.028797  2.014691  2.007414  2.003723

In [30]:
dfve2=pd.DataFrame()
dfve2['rve_0'] = dfve1['eve_0'] / dfve1['eve_1']
dfve2['rve_1'] = dfve1['eve_1'] / dfve1['eve_2']
dfve2['rve_2'] = dfve1['eve_2'] / dfve1['eve_3']
dfve2['rve_3'] = dfve1['eve_3'] / dfve1['eve_4']
dfve2['rve_3'] = dfve1['eve_4'] / dfve1['eve_5']

dfve2.head(5)

      rve_0     rve_1     rve_2     rve_3
0  1.105544  1.649991  1.843320  1.963804
1  1.669404  1.856640  1.933195  1.984154
2  1.817445  1.919421  1.962182  1.990988
3  1.886957  1.950179  1.976657  1.994447
4  1.927546  1.968474  1.985341  1.996535

Як і в попередньому випадку, отримані значення узгоджуються з теоретичними результатами. Як і очікувалося, значення швидкості близькі до числа 2.