# 6.1. Чисельне розв'язування задачі Коші для звичайних диференціальних рівнянь
--------------------

## 6.1.1. Формулювання задачі Коші для  звичайного диференціального рівняння
-----------
Розглянемо розв'язане стосовно похідної звичайне диференціальне рівняння першого порядку:

$(1)\quad\qquad\qquad\qquad u'=f(x,u),$

де $x$ -- незалежна змінна, $u=u(x)$ -- шукана функція, $u'$ -- похідна $u$, $f: D\to \mathbb{R}$
-- задана функція, $D$ -- область в $\mathbb{R}^2.$

Задача Коші для рівняння полягає у знаходженні розв'язку рівняння  (1), який задовольняє початкову умову

$(2)\quad\qquad\qquad\qquad u(x_0)=u_0,$

де $(x_0,u_0)$ -- задана точка області $D$.

## 6.1.3.  Метод Рунге-Кутта
---------------------

Нехай задача (1),(2)
має єдиний розв'язок, визначений на відрізку $[a,b]$, де $a=x_0$, і ми шукаємо $ u_1, \ldots, u_n$ -- наближення 
значень цього розв'язку в точках $x_1,\ldots,x_n,$
де $n\in \mathbb{N}$ -- деяке число, а
$$
 x_i:=a+ih,\ \ i=\overline{0,n},\qquad h:=(b-a)/n.
$$

Чисельним розв'язком задачі (1),(2) вважаємо наближення  $u_i,\ i=\overline{1,n}$, ($u_0$ беремо з початкової умови (2)) за правилом

$(3)\quad\qquad\qquad\qquad u_{i+1}=u_i+ \sum _{j=1}^r p_{r,j}k_{i,j}(h),$

де $r$ -- деяке натуральне число,
$$
k_{i,1}(h):=f(x_i,u_i)\cdot h,
$$
$$ k_{i,j}(h):=f\big(x_i+\alpha_j h, u_i+ \sum _{l=1}^{j-1} \beta_{j,l}k_{i,l}(h)\big)\cdot h,\quad j=\overline{2,r},
$$
а коефіцієнти $p_{r,k}, \alpha_j, \beta_{j,l},\ k=\overline{1,r}, j=\overline{2,r},
l=\overline{1,j-1},$ знаходять із відповідної системи рівнянь.

На практиці часто застосовують метод Рунге-Кутта четвертого порядку, який одержуть при $r=4$. 
У цьому випадку можна використати такі розрахункові формули:

$$
u_{i+1}=u_i + \frac{1}{6}k_{i,1}(h) +\frac{1}{3}k_{i,2}(h)+\frac{1}{3}k_{i,3}(h)+ \frac{1}{6}k_{i,4}(h),
$$
де
$$
k_{i,1}(h):=f(x_i,u_i)\cdot h,
\quad
k_{i,2}(h):=f\bigg(x_i+\frac{1}{2}h,u_i + \frac{1}{2}k_{i,1}(h)\bigg)\cdot h,
$$
$$
k_{i,3}(h):=f(x_i + \frac{1}{2}h,u_i+\frac{1}{2}k_{i,2}(h))\cdot h,
\quad
k_{i,4}(h):=f(x_i+h,u_i+k_{i,3}(h))\cdot h, \;\; i=\overline{0,n-1}.
$$

#### Пояснення до використання програмного коду
-----------------
*   Підготувати середовище і потрібні функції : 
    1. виконати комірку для підготовки середовища 
    2. виконати комірку з функцією ``RK4_method``

*   Обчислити чисельний розв'язок конкретної задачі Коші
    1. виконати комірку, де **визначена** функція ``f``
    2. виконати комірку з викликом функції ``RK4_method``, перед виконанням задати відповідні аргументи цієї функції.

*   Щоб переконатися, що чисельний розв'язок достатньо точний, можна виконати кілька послідовних викликів функції ``RK4_method``, збільшуючи кількість вузлів сітки.

#### Програмна реалізація методів
------------

>#### Підготовка середовища

In [1]:
%matplotlib widget
import matplotlib.pyplot as plt

import numpy as np
import pandas as pd

>#### ``RK4_method`` -- функція, яка реалізує явний метод Ейлера для знаходження чисельного розв'язку задачі Коші

In [2]:
def RK4_method(f,u0,a,b,n):
    """ метод Рунге-Кутта четвертого порядку
    """
    h=(b-a)/n
    x=np.linspace(a, b, n+1) 


    u=np.empty(n+1) 
    u[0]=u0
    for i in range(n):
        k1 = f(x[i], u[i])
        k2 = f(x[i] + h/2, u[i] + h/2*k1)
        k3 = f(x[i] + h/2, u[i] + h/2*k2)
        k4 = f(x[i+1], u[i] + h*k3)
        
        u[i+1] =u [i] + h/6*(k1 + 2*k2 + 2*k3 + k4)
        
    return u

>#### ``f`` -- функція, яка задає обчислення  правої частини конкретного рівняння

#### Обчислювальні експерименти
------------

Продемонструємо застосування методу Рунге-Кутта для знаходження чисельного розв'язку задачі Коші.


##### Приклад 1.
За допомогою методу Рунге-Кутта 4-го порядку знайти чисельний розв'язок задачі Коші (1),(2), коли
$f(x,u)=u^2+2x-x^4, \quad [a,b]=[0,\,1], \quad u(0)=0.$

Очевидно, що функція $u(x)=x^2$ є точним розв'язком задачі Коші у цьому випадку.

Визначимо функцію правої частини рівняння (1):

In [3]:
def f2(x, u):
    return u**2+2*x-x**4

Задамо координати відрізка і початкові дані:

In [4]:
a=0
b=1
u0=0

Знайдемо чисельні розв'язки задачі на послідовності сіток, подвоюючи на кожному кроці кількість вузлів і зберігаючи відповідні масиви для подальшого аналізу:

In [5]:
n_start = 5

n = n_start
x0=np.linspace(a, b, n+1)
u_0=RK4_method(f2,u0,a,b,n)

n*=2
x1=np.linspace(a, b, n+1)
u_1=RK4_method(f2,u0,a,b,n)

n*=2
x2=np.linspace(a, b, n+1)
u_2=RK4_method(f2,u0,a,b,n)

n*=2
x3=np.linspace(a, b, n+1)
u_3=RK4_method(f2,u0,a,b,n)

n*=2
x4=np.linspace(a, b, n+1)
u_4=RK4_method(f2,u0,a,b,n)

Порахуємо також значення точного розв'язку задачі на рівномірній сітці:

In [6]:
x=np.linspace(a, b, 256)
ux=x**2

Побудуємо графіки отриманих чисельних і точного розв'язків задачі:

In [7]:
fig = plt.figure(figsize=(8, 5))
plt.plot(x, ux, label='ux')
plt.plot(x0, u_0, label='u_0')
plt.plot(x1, u_1, label='u_1')
plt.plot(x2, u_2, label='u_2')
plt.plot(x3, u_3, label='u_3')
plt.plot(x4, u_4, label='u_4')
ax = fig.gca()
ax.legend();

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Зауважимо, що графічні побудови за вибраного режиму виконуються з автоматичною лінійною інтертерполяцією чисельних розв'язків, які насправді обчислені лише у вузлах відповідної сітки. Нагадаємо, що отримані зобаження можна масштабувати, використовуючи режим 'Zoom to rectangle'.

Як бачимо, графіки чисельних розв'язків візуально близькі до графіка точного розв'язку. Для детальнішого аналізу занесемо в таблицю значення усіх розв'язків на спільній множині вузлів ``x_0``:

In [8]:
u = x0**2

df=pd.DataFrame({'x_0':x0[1::],'u_0':u_0[1::],'u_1':u_1[2::2],'u_2':u_2[4::4],'u_3':u_3[8::8],'u_4':u_4[16::16],'u':u[1::]})
df

   x_0       u_0       u_1       u_2   u_3   u_4     u
0  0.2  0.040013  0.040001  0.040000  0.04  0.04  0.04
1  0.4  0.160029  0.160002  0.160000  0.16  0.16  0.16
2  0.6  0.360052  0.360003  0.360000  0.36  0.36  0.36
3  0.8  0.640088  0.640006  0.640000  0.64  0.64  0.64
4  1.0  1.000142  1.000009  1.000001  1.00  1.00  1.00

На множині вузлів ``x_0`` маємо такі значення абсолютних похибок отриманих чисельних розв'язків:

In [9]:
df1=pd.DataFrame()
df1['e_0']=np.abs(df['u']-df['u_0'])
df1['e_1']=np.abs(df['u']-df['u_1'])
df1['e_2']=np.abs(df['u']-df['u_2'])
df1['e_3']=np.abs(df['u']-df['u_3'])
df1['e_4']=np.abs(df['u']-df['u_4'])
df1

        e_0           e_1           e_2           e_3           e_4
0  0.000013  8.427528e-07  5.269722e-08  3.294049e-09  2.058864e-10
1  0.000029  1.821414e-06  1.139999e-07  7.128789e-09  4.456444e-10
2  0.000052  3.265084e-06  2.049552e-07  1.283629e-08  8.030726e-10
3  0.000088  5.623451e-06  3.554703e-07  2.234675e-08  1.400790e-09
4  0.000142  9.237892e-06  5.906353e-07  3.735716e-08  2.349089e-09

Побудуємо графіки абсолютних похибок у логарифмічній шкалі:

In [10]:
fig = plt.figure(figsize=(8, 5))
df1.e_0.plot(logy=True)
df1.e_1.plot(logy=True)
df1.e_2.plot(logy=True)
df1.e_3.plot(logy=True)
df1.e_4.plot(logy=True)
ax = fig.gca()
ax.legend();

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Як бачимо, при згущенні сітки похибки чисельних розв'язків на кожному кроці зменшуються. Зазначимо, що на фіксованій сітці вони дещо відрізняються між собою, поволі зростаючи у вузлах поблизу правого кінця відрізку.

Обчислимо для кожного чисельного розв'язку його абсолютну похибку за нормою $\| \cdot \|_\infty$

In [11]:
ne_0 = max(np.abs(df1['e_0']))
ne_1 = max(np.abs(df1['e_1']))
ne_2 = max(np.abs(df1['e_2']))
ne_3 = max(np.abs(df1['e_3']))
ne_4 = max(np.abs(df1['e_4']))
print(f" ne_0={ne_0:1.2e}\n ne_1={ne_1:1.2e}\n ne_2={ne_2:1.2e}\n ne_3={ne_3:1.2e}\n ne_4={ne_4:1.2e}")

 ne_0=1.42e-04
 ne_1=9.24e-06
 ne_2=5.91e-07
 ne_3=3.74e-08
 ne_4=2.35e-09

Оцінимо швидкість збіжності чисельних розв'язків до точного, а саме у скільки разів зменшуватметься абсолютна похибка при подвоєнні кількості вузлів сітки:

In [12]:
df2=pd.DataFrame()
df2['r_0'] = df1['e_0'] / df1['e_1']
df2['r_1'] = df1['e_1'] / df1['e_2']
df2['r_2'] = df1['e_2'] / df1['e_3']
df2['r_3'] = df1['e_3'] / df1['e_4']

df2

         r_0        r_1        r_2        r_3
0  15.979276  15.992358  15.997706  15.999346
1  15.940022  15.977328  15.991484  15.996585
2  15.859714  15.930726  15.966850  15.983975
3  15.671779  15.819746  15.907025  15.952964
4  15.361403  15.640602  15.810499  15.902829

Як бачимо, швидкість наближається до числа 16, що узгоджується з теоретичними  оцінками похибок методів Рунге-Кутта.

In [13]:
plt.close('all')


##### Приклад 2.


$f(x,u)=-u\, cos x + e^{-sin x}, \quad [a,b]=[0,\,10], \quad u(0)=1.$

Відомо [(1.69 Самойленко)] , що функція $u(x)=(x+1)e^{-sin x}$ є точним розв'язком задачі Коші у цьому випадку.

Задамо функцію правої частини диференціального рівняння і решту даних задачі Коші:

In [14]:
def f3(x, u):
    return -u*np.cos(x) + np.exp(-np.sin(x))

In [15]:
a=0
b=10
u0=1

Далі повторимо усі кроки, якими отримали і досліджували чисельні розв'язки попередньої задачі:

In [16]:
n_start = 5

n = n_start
x0=np.linspace(a, b, n+1)
u_0=RK4_method(f3,u0,a,b,n)

n*=2
x1=np.linspace(a, b, n+1)
u_1=RK4_method(f3,u0,a,b,n)

n*=2
x2=np.linspace(a, b, n+1)
u_2=RK4_method(f3,u0,a,b,n)

n*=2
x3=np.linspace(a, b, n+1)
u_3=RK4_method(f3,u0,a,b,n)

n*=2
x4=np.linspace(a, b, n+1)
u_4=RK4_method(f3,u0,a,b,n)

x=np.linspace(a, b, 256)
ux=(x+1)*np.exp(-np.sin(x))

fig = plt.figure(figsize=(8, 5))
plt.plot(x, ux, label='ux')
plt.plot(x0, u_0, label='u_0')
plt.plot(x1, u_1, label='u_1')
plt.plot(x2, u_2, label='u_2')
plt.plot(x3, u_3, label='u_3')
plt.plot(x4, u_4, label='u_4')
ax = fig.gca()
ax.legend();

u=(x0+1)*np.exp(-np.sin(x0))

df=pd.DataFrame({'x_0':x0[1::],'u_0':u_0[1::],'u_1':u_1[2::2],'u_2':u_2[4::4],'u_3':u_3[8::8],'u_4':u_4[16::16],'u':u[1::]})
df

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

    x_0        u_0        u_1        u_2        u_3        u_4          u
0   2.0   1.152763   1.204188   1.208120   1.208405   1.208420   1.208421
1   4.0   9.693075  10.556816  10.649402  10.656734  10.657217  10.657250
2   6.0   8.174354   9.133145   9.250316   9.256140   9.256475   9.256497
3   8.0   2.143113   3.311437   3.344964   3.346271   3.346333   3.346337
4  10.0  12.526120  18.664765  18.936153  18.951184  18.952073  18.952131

Оскільки розглядаємо задачу на довшому відрізку і, як видно з графіку, поведінка її розв'язку є складнішою, то похибка отриманих чисельних розв'язків є більшою у цьому випадку:

In [17]:
df1=pd.DataFrame()
df1['e_0']=np.abs(df['u']-df['u_0'])
df1['e_1']=np.abs(df['u']-df['u_1'])
df1['e_2']=np.abs(df['u']-df['u_2'])
df1['e_3']=np.abs(df['u']-df['u_3'])
df1['e_4']=np.abs(df['u']-df['u_4'])
df1

        e_0       e_1       e_2       e_3           e_4
0  0.055658  0.004234  0.000302  0.000017  9.525676e-07
1  0.964175  0.100434  0.007848  0.000516  3.266958e-05
2  1.082142  0.123352  0.006180  0.000357  2.144942e-05
3  1.203224  0.034900  0.001373  0.000066  3.593800e-06
4  6.426011  0.287366  0.015978  0.000947  5.766687e-05

In [19]:
fig = plt.figure(figsize=(8, 5))
df1.e_0.plot(logy=True)
df1.e_1.plot(logy=True)
df1.e_2.plot(logy=True)
df1.e_3.plot(logy=True)
df1.e_4.plot(logy=True)
ax = fig.gca()
ax.legend();

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Обчислимо для кожного чисельного розв'язку його абсолютну похибку за нормою $\| \cdot \|_\infty$

In [20]:
ne_0 = max(np.abs(df1['e_0']))
ne_1 = max(np.abs(df1['e_1']))
ne_2 = max(np.abs(df1['e_2']))
ne_3 = max(np.abs(df1['e_3']))
ne_4 = max(np.abs(df1['e_4']))
print(f" ne_0={ne_0:1.2e}\n ne_1={ne_1:1.2e}\n ne_2={ne_2:1.2e}\n ne_3={ne_3:1.2e}\n ne_4={ne_4:1.2e}")

 ne_0=6.43e+00
 ne_1=2.87e-01
 ne_2=1.60e-02
 ne_3=9.47e-04
 ne_4=5.77e-05

Знайдемо тепер значення швидкості збіжності чисельних розв'язків:

In [21]:
df2=pd.DataFrame()
df2['r_0'] = df1['e_0'] / df1['e_1']
df2['r_1'] = df1['e_1'] / df1['e_2']
df2['r_2'] = df1['e_2'] / df1['e_3']
df2['r_3'] = df1['e_3'] / df1['e_4']

df2

         r_0        r_1        r_2        r_3
0  13.146823  14.034844  18.138471  17.458484
1   9.600087  12.797077  15.218977  15.784874
2   8.772826  19.958474  17.323763  16.632586
3  34.476730  25.416805  20.917407  18.265754
4  22.361753  17.985473  16.873061  16.420769

Як бачимо, отримані значення наближуються до 16, як і передбачають результати теоретичних досліджень. Якщо повторити усі кроки з обчислення розв'язку, але на сітках з більшою кількістю вузлів ( при більшому значенні параметра ``n_start``), то можна пересвідчитися у подальшому зменшенні похибок чисельних розв'язків.

In [ ]:
plt.close('all')

  **Цього не треба**
_________________
але на сітках з більшою кількістю вузлів ( при більшому значенні параметра ``n_start``), то можна пересвідчитися, у подальшому зменшенні похибок чисельних розв'язків.

In [ ]:
n_start = 50

n = n_start
x0=np.linspace(a, b, n+1)
u_0=RK4_method(f3,u0,a,b,n)

n*=2
x1=np.linspace(a, b, n+1)
u_1=RK4_method(f3,u0,a,b,n)

n*=2
x2=np.linspace(a, b, n+1)
u_2=RK4_method(f3,u0,a,b,n)

n*=2
x3=np.linspace(a, b, n+1)
u_3=RK4_method(f3,u0,a,b,n)

n*=2
x4=np.linspace(a, b, n+1)
u_4=RK4_method(f3,u0,a,b,n)

x=np.linspace(a, b, 256)
ux=(x+1)*np.exp(-np.sin(x))

fig = plt.figure(figsize=(8, 5))
plt.plot(x, ux, label='ux')
plt.plot(x0, u_0, label='u_0')
plt.plot(x1, u_1, label='u_1')
plt.plot(x2, u_2, label='u_2')
plt.plot(x3, u_3, label='u_3')
plt.plot(x4, u_4, label='u_4')
ax = fig.gca()
ax.legend();

u=(x0+1)*np.exp(-np.sin(x0))

df=pd.DataFrame({'x_0':x0[1::],'u_0':u_0[1::],'u_1':u_1[2::2],'u_2':u_2[4::4],'u_3':u_3[8::8],'u_4':u_4[16::16],'u':u[1::]})
df

In [ ]:
df1=pd.DataFrame()
df1['e_0']=np.abs(df['u']-df['u_0'])
df1['e_1']=np.abs(df['u']-df['u_1'])
df1['e_2']=np.abs(df['u']-df['u_2'])
df1['e_3']=np.abs(df['u']-df['u_3'])
df1['e_4']=np.abs(df['u']-df['u_4'])
df1

In [ ]:
fig = plt.figure(figsize=(8, 5))
df1.e_0.plot(logy=True)
df1.e_1.plot(logy=True)
df1.e_2.plot(logy=True)
df1.e_3.plot(logy=True)
df1.e_4.plot(logy=True)
ax = fig.gca()
ax.legend();

Знайдемо тепер значення швидкості збіжності чисельних розв'язків:

In [ ]:
df2=pd.DataFrame()
df2['r_0'] = df1['e_0'] / df1['e_1']
df2['r_1'] = df1['e_1'] / df1['e_2']
df2['r_2'] = df1['e_2'] / df1['e_3']
df2['r_3'] = df1['e_3'] / df1['e_4']

df2